.text-container{
.carte-personne{
    text-align: center;
align-content: center;
width: 40% !important;
}

.role{


      display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.person{
    text-align: center;
align-content: center;

width: 40%;
}

.avatar{
  margin: 4px auto;
  background-color: grey;
  width:80px;
  height:80px;
  border-radius:100%;
}

a{
  font-size:15px
}

.fa-envelope{
  font-size: 20px;
}
}

