.text-container{
  padding-left: 20px;

.role{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.person{
    text-align: center;
align-content: center;
width: 200px;
}

.avatar{
  margin: 15px auto;
  background-color:grey;
  width:80px;
  height:80px;
  border-radius:100%;
}

a{
  font-size:15px
}
}

