// Specific CSS for your home-page
.lp-container{


  // background: url(images/back.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;

  //   -webkit-filter: grayscale(1);
  // filter: grayscale(1);
text-align: center;
min-height: 80vh;
h1{
  font-size: 60px;
  margin: 50px 0px;
  font-family: 'Satisfy', cursive;

}

h2 {
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: lighter;
  font-family: 'Satisfy', cursive;

}




#background{

  z-index: -1;
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  // max-width: 80%;
  top: 0;
  left: 0;
  //   -webkit-filter: grayscale(1);
  // filter: grayscale(1);
    filter: grayscale(1) contrast(3);
    opacity: 0.2;
}

@media screen and (orientation: portrait){

display: flex;
flex-direction: column;
justify-content: space-between;

      #background{ display: none;}
        background-color: #c3f1ff;
        h1{
          margin: 0px;
          padding-top:20px;
        }

        .btn-treehouse{
            margin: 0px auto;
        }
}



}

.btn-treehouse {
  width: 200px;
  margin: 100px auto;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  // background: #6AD58B;
  background: #5f1854;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #4c1343;
   cursor: pointer;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */
