// Specific CSS for your home-page
.all-container {
    @media only screen and (max-width: 600px){
              background-color: #afd8e5;
}

@media only screen and (min-width: 600px){
    min-height: 95vh;
  }


}
.lp-container{
  color: white;
text-align: center;
h1{
  font-size: 70px;
  margin: 50px 0px;
  font-family: 'Satisfy', cursive;
}

h2 {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: lighter;
  font-family: 'Satisfy', cursive;

}

@media screen and (max-width: 600px){

      min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
        h1{
          margin: 0px;
          padding-top:40px;
        }
               h1{
          margin: 0px;
          padding-bottom:20px;
        }

        .btn-treehouse{
            margin: 0px auto;
        }
}
}

.btn-treehouse {
  width: 200px;
  margin: 100px auto;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  // background: #6AD58B;
  // background: #5f1854;
  background: rgb(190,7,18);
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #85040c;
   cursor: pointer;
  text-decoration: none;
  color: white;
}

/* Build your own button classes ! */



.overlay {
  display: none;
  background: rgba(0, 0, 0, .6);
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.prompt-wrap {
    // display: none;
    background: transparent;
    position: absolute;
    width: 350px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
}

.prompt-box {
  display: none;
  padding: 50px;
  background: #f7f7f7;
  max-width: 350px;
  width: 100%;
  margin: 20px auto;
  color: 070707;
  position: fixed;
  z-index: 999999999;
  margin: 80px auto;
  border-radius: 3px;

      p {
          color: #070707;
      }

     button {
         width: 50%;
         margin-top: 30px;
     }

     &.shake {
         animation: shake .5s linear;
     }

     .close:after {
         content: '';
        height: 20px;
        width: 20px;
        background: url(../img/x-thin.svg) top left no-repeat;
        background-size: 100%;
        position: absolute;
        right: 20px;
        top: 12px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        cursor: pointer;
     }
}

.code-error {
    color: red !important;
    display: none;

        &.is-error {
            display: block;
            animation: shake .5s linear;
        }
 }

.btn-entrer, .mdp{
  color: black;
}


 @-webkit-keyframes shake {
    8%, 41% {
        transform: translateX(-10px);
    }
    25%, 58% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-5px);
    }
    92% {
        transform: translateX(5px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}

.background-home {
      filter: brightness(50%);
-webkit-filter: brightness(50%);
}



























