
  .display-date{
  margin: 30px 5px;
  padding-right: 10px;
  border-right: 1px dotted black;
   @media only screen and (max-width: 800px){
border: none;
   }

  text-align: center;
  .day{
    font-size: 60px;
      font-family: 'Abril Fatface', cursive;
  }
  .month{
    font-size: 20px;
    letter-spacing: 4px;
    }
  }


  .infos{
    font-size: 16px;
    font-weight:lighter;
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }

  .far {
  padding-right:2px;
  }

   .fas {
  padding-right:6px;
  }

.hide {
    display: none;
}


