.logo-transport{
font-size: 80px;
justify-content: space-around;
  border-right: 1px dotted black;
  // margin : 40px;
  padding-right: 20px;
      display: flex;
    flex-direction: column;

@media only screen and (max-width: 600px){
    display: none;
  }


}

.indent {
  margin-left: 40px;
  font-size: 13px;
}

.description-logement {
display: flex;
flex-direction: row;
}


