<div class="navbar-wagon">
  <!-- Logo -->
<a href="/english" class="back-home">
    <div id = "logo_text"> S & E </div>
</a>

  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/english/schedule" class="navbar-wagon-item navbar-wagon-link">Schedule</a>
    <a href="/english/about" class="navbar-wagon-item navbar-wagon-link">A wedding on Hannukah</a>
    <a href="/english/transportation" class="navbar-wagon-item navbar-wagon-link">Transportation</a>
    <a href="/english/accomodation" class="navbar-wagon-item navbar-wagon-link">Accommodation</a>
      <a href="https://cagnotte.me/567-sarah-elliot" target ="_blank" class="navbar-wagon-item navbar-wagon-link">Money Pool</a>
<!--     <a href="/contact" class="navbar-wagon-item navbar-wagon-link">Contacts utiles</a>
 -->

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
<!--         <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
 -->        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/english/schedule">Schedule</a></li>
        <li><a href="/english/about">A wedding on Hannukah</a></li>
        <li><a href="/english/transportation">Transportation</a></li>
        <li><a href="/english/accomodation">Accommodation</a></li>
        <li><a href="https://cagnotte.me/567-sarah-elliot" target ="_blank">Money Pool</a></li>
<!--         <li><a href="/contact">Contacts utiles</a></li>
 -->
      </ul>
    </div>
  </div>
</div>
