    <%= render 'shared/navbar' %>

<div class="text-container">

<h1>Un mariage à Hannouca</h1>
<%= image_tag "candle.jpg", {class: "background"}%>

  <div class="une-carte about" >
  <div class = "title">Se marier à Hannouca</div>
  <div class = "text-description"> Hannouca est dans le calendrier juif considéré comme une fête mineure, non chomée. Il est donc possible de se marier le jour de Hannouca. Les fins observateurs auront toutefois noté que le mariage n'a en réalité pas lieu à Hannouca, puisque la cérémonie religieuse se déroulera avant le coucher du soleil... </div>
  </div>

<!--   <div class="une-carte about" >
  <div class = "title">Le déroulement de la cérémonie</div>
  <div class = "text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
  </div> -->

  <div class="une-carte about" >
      <div class = "title">La fête de Hannouca</div>
<div class = "sub-title">Histoire</div>
  <div class = "text-description">À la mort d'Alexandre le Grand, son empire est répartie entre ses généraux. C'est aux Séleucides que revient la Syrie dont fait alors partie la terre d'Israël. Leur roi Antioche IV souhaite imposer la culture grecque, et ordonne aux Juifs d'adresser les sacrifices qui font dans le Temple aux Dieux grecs. Suite à ce décret, une révolte sera menée par Matathias (<span class = "italique"> Matityahou</span>), Grand-Prêtre, et ses fils - dont Judah (<span class = "italique">Yehouda</span>) le Maccabi. Le succès de la révolte mènera au rétablissement de la souveraineté juive. Judah et ses frères decrètent, suite à la victoire, qu'une célébration de 8 jours doit avoir lieu chzque année, au 25ème jour de Kisleiv, le 9ème mois du calendrier juif.</div>

    <div class = "text-description">Au XIIIème siècle, les rabbins reinterprètent l'histoire: au retour des Juifs dans le temple souillé par les Grecs, et alors qu'une fiole d'huile doit bruler en tout temps dans un temple, seule de l'huile pour un jour est disponible. La quantité qui devait durer un jour durera finalement les 8 jours qu'il faut pour en refaire. C'est le miracle de Hannouca.</div>


<div class = "sub-title">Allumage</div>
<div class = "text-description">La principale <span class="italique">mitsvah</span> (bonne action) de la fête de Hannoucah est l'allumage de la <span class="italique">Menorah</span>, le chandelier de Hannouca, afin de commémorer le miracle. La Menorah est composée de 9 branches, une pour chaque jour de Hannukah et une pour tenir le <span class="italique">shamash</span>, la bougie témoin qui sert à allumer les autres. Il est coutume de poursuivre l'allumage des bougies par deux chants:
  <ul>
    <li>Haneirot Halalu</li>
    <li> <a href="https://www.youtube.com/watch?v=G_bAqvYedIM" target = "_blank">Maoz Tsur</a>, "Roc de puissance",  relate la révolte des Maccabi et rappelle les plusieurs occasions lors desquels les Juifs ont échappé à leurs opresseurs. </li>
  </ul>
</div>

<div class = "sub-title">Et evidemment...</div>

  <div class = "text-description">Il est aussi question de la nouriture. Il est de coutume de manger des Latkes et des beignets (<span class="italique">souvganiot</span>) à Hannoukah. Vous devrez toutefois attendre le dessert... </div>


  </div>


</div>
