<div class="text-container">
<h1>Contacts utiles</h1>

<p class ="un-contact"> Pour de l'aide sur les logements: <a href="mailto:eprawidlo@icloud.fr">     Evelyne Prawidlo</a>
</p>

<p class ="un-contact"> Responsable liste et cadeaux: <a href="mailto:revahelie@gmail.com">    Elie Revah</a>
</p>

<p class ="un-contact"> Si vous souhaitez faire un discours, merci de vous adresser à: <a href="mailto:mael_seror@yahoo.fr">    Maël Seror</a>
</p>


</div>
