
    <%= render 'shared/navbar' %>

<div class="text-container">

<h1>Logements pour le dimanche</h1>
<%= image_tag "london.png", {class: "background"}%>

<div class="un-event une-carte carte-tableau" >
  <div class="description description-logement">
<!--     <div class = "logo-transport">
      <i class = "fas fa-car"></i>
    </div> -->
    <div class="interieur">
      <div class="title">Chambres d'hôtes</div>
      <div class="text-description">

<style type="text/css">
  table.tableizer-table {
  font-size: 12px;
  border: 1px solid #CCC;
  }
  .tableizer-table td {
    padding: 4px;
    font-size: 15px;
    margin: 3px;
    border: 1px solid #CCC;
  }
  .tableizer-table th {
    text-align: center;
    background-color: rgb(150,150,150);
    color: #FFF;
    font-weight: bold;
  }
</style>




<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Chambres d'hotes</th><th>Adresse</th><th>Distance</th><th class = "pour-grand" >Contact</th><th class = "pour-grand">Telephone</th><th class = "pour-grand" >Site</th></tr></thead><tbody>
 <tr><td>Le clos de la Molière </td><td>1 rue de la mairie 60240 SERANS</td><td>240 m</td><td class = "pour-grand" >Marie José et Jean MOREL</td><td class = "pour-grand">03.44.45.59.12</td><td class = "pour-grand" >www.leclosdelamoliere.fr</td></tr>
 <tr><td>Gîte « Les fleurs en liberté »</td><td>2, rue de Montjavoult Le Petit Serans - 60240 SERANS</td><td>2.5 km</td><td class = "pour-grand" >Laure HACHE</td><td class = "pour-grand" >03.44.49.94.51</td><td class = "pour-grand">www.fleursenliberté.free.fr</td></tr>
 <tr><td>Gîte des Cordeliers</td><td>11 boulevard Dailly 95420 MAGNY EN VEXIN</td><td>6 km</td><td class = "pour-grand" >&nbsp;</td><td class = "pour-grand" >06.85.82.85.24</td><td class = "pour-grand" >&nbsp;</td></tr>
 <tr><td>La Maison de L'Aubette</td><td>1 Rue de Velannes la Ville 95420 MAGNY EN VEXIN</td><td>6 km</td><td class = "pour-grand" >&nbsp;</td><td class = "pour-grand" >06.02.30.74.89</td><td class = "pour-grand">Contact@lamaisondelaubette.fr</td></tr>
 <tr><td>Mme Marie MISAK</td><td>3, rue Arsène Sarazin  60240 PARNES</td><td>8 km</td><td class = "pour-grand" >Mme Marie MISAK</td><td class = "pour-grand" >03.44.49.26.25</td><td class = "pour-grand">&nbsp;</td></tr>
 <tr><td>Gîte de la Ferme des Carrières</td><td>1 côte des Carrières, 60240 BOUBIERS</td><td>10 km</td><td class = "pour-grand" >&nbsp;</td><td class = "pour-grand" >03.44.49.09.55</td><td class = "pour-grand">http://www.fermedescarrieres.com/</td></tr>
 <tr><td>La Pointe</td><td>10 rue du Donjon 60240 LIANCOURT ST PIERRE</td><td>10 km</td><td class = "pour-grand" > Mme et Mr Gallot</td><td class = "pour-grand" >03.44.49.32.08</td><td class = "pour-grand">&nbsp;</td></tr>
 <tr><td>Golf de Chaumont en Vexin</td><td>Château de Bertichères 95420 CHAUMONT EN VEXIN</td><td>12 km</td><td class = "pour-grand" >&nbsp;</td><td class = "pour-grand" >03.44.49.00.81</td><td class = "pour-grand" >&nbsp;</td></tr>
 <tr><td>Le Clos du Saule </td><td>2, grande rue 95450 GOUZANGREZ</td><td>12 km</td><td class = "pour-grand" >&nbsp;</td><td class = "pour-grand" >06.10.01.69.70</td><td class = "pour-grand">&nbsp;</td></tr>
 <tr><td>Le Relais d'Archambhot</td><td>5 rue de Chars  95640 MARINES</td><td>14 km</td><td class = "pour-grand" >&nbsp;</td><td class = "pour-grand" >01.30.39.97.10</td><td class = "pour-grand">&nbsp;</td></tr>
 <tr><td>Mme PIHAN</td><td>14 Rue des Hirondelles  60590 TRIE LA VILLE</td><td>17 km</td><td class = "pour-grand" >Mme PIHAN</td><td class = "pour-grand" >03.44.49.74.41</td><td class = "pour-grand"></td></tr>
</tbody></table>










      </div>
    </div>
  </div>
</div>

<div class="un-event une-carte carte-tableau" >
  <div class="description description-logement">

    <div class="interieur">
      <div class="title">Hotels</div>
      <div class="text-description">

<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Nom</th><th>Adresse</th><th>Distance</th><th class = "pour-grand" >Telephone</th><th class = "pour-grand">Site</th></tr></thead><tbody>
 <tr><td>La Grange de Saint Nicolas </td><td>17 rue de la République 60240 CHAUMONT-EN-VEXIN</td><td>12 km</td><td class = "pour-grand" >03.44.49.11.00</td><td class = "pour-grand">http://www.hotel-stnicolas.com</td></tr>
 <tr><td>Hôtel Golf de Rebetz </td><td>Rue de Noailles 60240 CHAUMONT EN VEXIN</td><td>12 km</td><td class = "pour-grand" >03.44.49.15.54</td><td class = "pour-grand" >golf@rebetz.com</td></tr>
 <tr><td>Hôtel Moderne </td><td>Place de la gare 27140 GISORS </td><td>15 km</td><td class = "pour-grand" >02.32.55.23.51</td><td class = "pour-grand" >&nbsp;</td></tr>
 <tr><td>Hôtel la Boule d'Or</td><td>107 Avenue de la Libération 27140 GISORS </td><td>15 km</td><td class = "pour-grand" >02.32.27.39.28</td><td class = "pour-grand">&nbsp;</td></tr>
 <tr><td>Château de la Rapée</td><td>La Rapée 27140 BAZINCOURT-SUR-EPTE</td><td>15 km</td><td class = "pour-grand" >02.32.55.11.61</td><td class = "pour-grand">&nbsp;</td></tr>
 <tr><td>Hôtel Le Clémenceau</td><td>48, rue Georges Clémenceau  27150 ETREPAGNY</td><td>25 km</td><td class = "pour-grand" >02.32.55.70.05</td><td class = "pour-grand" >www.hotel-restaurant-clemenceau.fr</td></tr>
 <tr><td>Hôtel Novotel</td><td>3 avenue du Parc 95011 CERGY PONTOISE</td><td>25 km</td><td class = "pour-grand" >01.30.30.39.47 </td><td class = "pour-grand">&nbsp;</td></tr>
 <tr><td>Hôtel Mercure </td><td>3 rue Chêne Emeraude  95000 CERGY</td><td>25 km</td><td class = "pour-grand" >01.34.24.94.94</td><td class = "pour-grand"></td></tr>
</tbody></table>









      </div>
    </div>
  </div>
</div>






</div>
