
<div class="text-container">

<h1>Logements</h1>
<%= image_tag "london.png", {class: "background"}%>

<div class="un-event une-carte carte-tableau" >
  <div class="description description-logement">
<!--     <div class = "logo-transport">
      <i class = "fas fa-car"></i>
    </div> -->
    <div class="interieur">
      <div class="title">Hotels</div>
      <div class="text-description">

<style type="text/css">
  table.tableizer-table {
/*    font-size: 12px;
*/    border: 1px solid #CCC;
/*    font-family: Arial, Helvetica, sans-serif;
*/  }
  .tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
  }
  .tableizer-table th {
    background-color: rgb(150,150,150);
    color: #FFF;
    font-weight: bold;
  }
</style>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Hotels</th><th>Adresse</th><th>Distance</th><th>Telephone</th><th>Site</th><th>Capacite</th></tr></thead><tbody>
 <tr><td>La Grange de Saint Nicolas </td><td>17 rue de la République 60240 CHAUMONT-EN-VEXIN    <td>12 km</td></td><td>03.44.49.11.00</td><td>http://www.hotel-stnicolas.com</td><td>23 chambres</td></tr>
 <tr><td>Hôtel Golf de Rebetz </td><td>Rue de Noailles 60240 CHAUMONT EN VEXIN</td><td>12 km</td><td>03.44.49.15.54</td><td>golf@rebetz.com</td><td>73 chambres</td></tr>
 <tr><td>Hôtel Moderne </td><td>Place de la gare 27140 GISORS </td><td>15 km</td><td>02.32.55.23.51</td><td>&nbsp;</td><td>30 chambres</td></tr>
 <tr><td>Hôtel la Boule d'Or</td><td>107 Avenue de la Libération 27140 GISORS </td><td>15 km</td><td>02.32.27.39.28</td><td>&nbsp;</td><td>7 chambres</td></tr>
 <tr><td>Château de la Rapée</td><td>La Rapée 27140 BAZINCOURT-SUR-EPTE</td><td>15 km</td><td>02.32.55.11.61</td><td>&nbsp;</td><td>12 chambres</td></tr>
 <tr><td>Hôtel Le Clémenceau</td><td>48, rue Georges Clémenceau  27150 ETREPAGNY</td><td>25 km</td><td>02.32.55.70.05</td><td>www.hotel-restaurant-clemenceau.fr</td><td>&nbsp;</td></tr>
 <tr><td>Hôtel Novotel</td><td>3 avenue du Parc 95011 CERGY PONTOISE</td><td>25 km</td><td>01.30.30.39.47 </td><td>&nbsp;</td><td>191 chambres</td></tr>
 <tr><td>Hôtel Mercure </td><td>3 rue Chêne Emeraude  95000 CERGY</td><td>25 km</td><td>01.34.24.94.94</td><td>&nbsp;</td><td>56 chambres</td></tr>
</tbody></table>














      </div>
    </div>
  </div>
</div>

<div class="un-event une-carte" >

  <div class="description description-logement">
  <div class = "logo-transport">
    <i class = "fas fa-bus-alt"></i>
  </div>
    <div class="interieur">

      <div class="title">Bus</div>
      <div class="text-description">
Pour les personnes sans voiture, nous mettons en place un bus.
        <ul>
          <li> <strong>Aller : </strong>Rendez-vous à 12h45 à Chatelet-les-Halles </li>
          <li><strong>Retour :</strong> (2 horaires) vers minuit le dimanche soir,  après le brunch (autour de 15h) le lundi. </li>
          <li>Il est possible d’effectuer uniquement l’aller ou le retour, a condition de <a href="">nous l’indiquer.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


 <div class="un-event une-carte" >

  <div class="description description-logement">
    <div class = "logo-transport">
      <i class = "fas fa-subway"></i>
    </div>
    <div class="interieur">
      <div class="title">Train</div>
      <div class="text-description">
        La gare la plus proche est Chars (Transilien J, direct de Gare Saint Lazare) situee a 10 min du domaine. Le trajet Paris – Chars dure environ un heure.
        <ul>
          <li><strong>Aller</strong> : depart de Gare Saint Lazare a 13h27 et arrivee a 14h34 a Chars. Nous pouvons venir vous chercher en car.</li>
          <li><strong>Retour</strong> : Certains devront peut etre retourner sur Paris le lundi matin, nous vous avons donc liste les differents horaires ci dessous. Pour tout autre horaires, veuillez consulter le site de la SNCF. Nous pouvons egalement vous communiquer des numeros de taxi pour rejoindre la gare au besoin.</li>
        </ul>
        <ul class = "indent">
          <li>Chars 5h21 – Paris Saint Lazare 6h27</li>
          <li>Chars 6h15 – Paris Saint Lazare 7h15</li>
          <li>Chars 6h40 – Paris Saint Lazare 7h35</li>
          <li>Chars 7h15 – Paris Saint Lazare 8h15</li>
          <li>Chars 7h40 – Paris Saint Lazare 8h35</li>
        </ul>
      </div>
    </div>

  </div>
</div>



</div>

<!-- <div class="un-event hide" id="samedi">
  <div class = "display-date">
    <div class = "day">01</div>
    <div class = "month">DECEMBRE</div>
  </div>
  <div class="description">
    <div class="title">Mariage civil</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 10h45 </div>
        <div class="place"> <a href ="" class="fas fa-map-marker-alt"></a>Mairie du 7ème</div>
    </div>
    <div class="text-description">Rdv a la mairie du 7ème arrondissmeent a 10h45. La cérémonie sera suivie d'un vin d'honneur à la mairie.</div>
  </div>
</div>
 -->
