
<div class="text-container">

<h1 class = "red">Programme des festivités</h1>
<%= image_tag "colonnes.jpg", {id: "backgroundp"}%>

<div class="un-event une-carte hide" id="vendredi">
  <div class = "display-date">
    <div class = "day">30</div>
    <div class = "month">NOVEMBRE</div>
  </div>
  <div class="description">
    <div class="title">Diner de Shabat</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 20h </div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/2TrirG5UCAq"><i class="fas fa-map-marker-alt"></i>Chez les Seror</a></div>
    </div>
    <div class="text-description">Diner sypathique blablablaDiner sypathique blablablaDiner sypathique blablablaDiner sypathique blablablaDiner sypathique blablabla</div>


  </div>
</div>


<div class="un-event  une-carte hide" id="samedi">
  <div class = "display-date">
    <div class = "day">01</div>
    <div class = "month">DECEMBRE</div>
  </div>
  <div class="description">
    <div class="title">Mariage civil</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 10h45 </div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/pA7LufNA3xL2" ><i class="fas fa-map-marker-alt"></i> Mairie du 7ème</a></div>
    </div>
    <div class="text-description">Rdv a la mairie du 7ème arrondissmeent a 10h45. La cérémonie sera suivie d'un vin d'honneur à la mairie.</div>
  </div>
</div>


<div class="un-event  une-carte ">
  <div class = "display-date">
    <div class = "day">02</div>
    <div class = "month">DECEMBRE</div>
  </div>
  <div class="description">
    <div class="title">Cérémonie religieuse & Fête</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 15h </div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/qgtRFTHR58z" > <i class="fas fa-map-marker-alt"></i>Chateau de Serans</a></div>
    </div>
    <div class="text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
  </div>
</div>

<div class="un-event  une-carte">
  <div class = "display-date">
    <div class = "day">03</div>
    <div class = "month">DECEMBRE</div>
  </div>
  <div class="description">
    <div class="title">Brunch à Serans</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 11h</div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/qgtRFTHR58z" > <i class="fas fa-map-marker-alt"></i>Chateau de Serans</a></div>
    </div>
    <div class="text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
  </div>
</div>
