
    <%= render 'shared/navbar_en' %>

<div class="text-container">

<h1 class = "red">Programme des festivités</h1>
<%= image_tag "colonnes.jpg", {class: "background"}%>

<div class="un-event une-carte hide" id="vendredi">
  <div class = "display-date">
    <div class = "day">30</div>
    <div class = "month">NOVEMBER</div>
  </div>
  <div class="description">
    <div class="title">Shabbat Diner</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 19h30 </div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/2TrirG5UCAq"><i class="fas fa-map-marker-alt"></i>Seror's place</a></div>
    </div>
    <div class="text-description">
      Friday night, time to celebrate the day of weekly rest.
    Shabat is <a href="https://en.wikipedia.org/wiki/Lekhah_Dodi">compared</a> in the jewish liturgy to a bride that is being greeted. Welcome to our family table. Shabat shalom !
    </div>
  </div>
</div>


<div class="un-event  une-carte hide" id="samedi">
  <div class = "display-date">
    <div class = "day">01</div>
    <div class = "month">DECEMBER</div>
  </div>
  <div class="description">
    <div class="title">Civil Wedding</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 10h45 </div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/pA7LufNA3xL2" ><i class="fas fa-map-marker-alt"></i> Townhall of the 7th arrondissement</a></div>
    </div>
    <div class="text-description"> To say out loud what we already know, on paper declare we'll love each other tomorrow. Followed by a vin d'honneur.
    </div>
  </div>
</div>


<div class="un-event  une-carte ">
  <div class = "display-date">
    <div class = "day">02</div>
    <div class = "month">DECEMBER</div>
  </div>
  <div class="description">
    <div class="title">Religious ceremony & Party</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 15h </div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/qgtRFTHR58z" > <i class="fas fa-map-marker-alt"></i>Serans Castle</a></div>
    </div>
    <div class="text-description"> Religious ceremony first. It's about celebrating our union in a judaism open to all, of tradition and humanity.
</div>

<div class="text-description"> Night has fallent. After the emotion, time to <strong>party</strong> ! As a special guest, the light of Hannukah.
</div>
  </div>
</div>

<div class="un-event  une-carte">
  <div class = "display-date">
    <div class = "day">03</div>
    <div class = "month">DECEMBER</div>
  </div>
  <div class="description">
    <div class="title">Brunch at Serans</div>
    <div class="infos">
        <div class="hour"> <i class="far fa-clock"></i> 11h</div>
        <div class="place"> <a target = "_blank" href ="https://goo.gl/maps/qgtRFTHR58z" > <i class="fas fa-map-marker-alt"></i>Serans Castle</a></div>
    </div>
    <div class="text-description">It ain't over til it's over. The party goes on with a brunch.
    </div>
  </div>
</div>

