<h1>Programme des festivités</h1>

<div class="text-container">

<h3>Vendredi soir</h3>

<p>Diner au 55 rue de varenne, 75007, à 20h.</p>

<h3>Samedi matin</h3>

<p>Rdv a la mairie du 7ème arrondissmeent a 10h45. La cérémonie sera suivie d'un vin d'honneur à la mairie. </p>

<h3>Dimanche après-midi</h3>

<p>Une navette quitte Paris pour ceux qui se sont inscrit. RDV à 12h15 à Chatelet-les-Halles. </p>

</div>
