
    <%= render 'shared/navbar_en' %>


<div class="text-container">

<h1>Transports</h1>
<%= image_tag "london.png", {class: "background"}%>

<div class="un-event une-carte" >
  <div class="description description-logement">
    <div class = "logo-transport">
      <i class = "fas fa-car"></i>
    </div>
    <div class="interieur">
      <div class="title">Car</div>
      <div class="text-description">
      Car may be the most practical and autonomous way to get the domain, in particular if you choose to stay at a Bed & Breakfast. Serans has a large and secure parking.
      </div>
    </div>
  </div>
</div>

<div class="un-event une-carte" >

  <div class="description description-logement">
  <div class = "logo-transport">
    <i class = "fas fa-bus-alt"></i>
  </div>
    <div class="interieur">

      <div class="title">Bus</div>
      <div class="text-description">
        We arranged a bus for people who are without a car.
        <ul>
          <li> <strong>Way to : </strong>Meeting point at 12h45 at Chatelet-Les-Halles </li>
          <li><strong>Way back :</strong> (2 scheduled times) on midnight on Sunday night, or after the brunch (around 3PM) the following day. </li>
          <li>It is possible to take the bus for only one of the ways if you  <a href="mailto: sarahetelliot@gmail.com">let us know</a> in advance.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="un-event une-carte" >

  <div class="description description-logement">
    <div class = "logo-transport">
      <i class="fas fa-taxi"></i>
    </div>
    <div class="interieur">
      <div class="title">Taxi</div>
      <div class="text-description">
        We advise you contact them in advance if you think you'll need their service Sunday or Monday.
        <ul class = "indent">
          <li>Julien Transport : 06.47.03.61.31</li>
          <li>Taxi du Vexin : 06.79.77.90.73</li>
          <li>Taxi Serge Morel : 06.60.17.77.82</li>
          <li>Taxi Anthony Ducelliez : 06.10.85.34.60</li>
          <li>Taxi Eddie Maddalena : 06.85.33.90.73</li>
        </ul>
      </div>
    </div>

  </div>
</div>



</div>

