
    <%= render 'shared/navbar_en' %>


<div class="text-container">

<h1>Transports</h1>
<%= image_tag "london.png", {class: "background"}%>

<div class="un-event une-carte" >
  <div class="description description-logement">
    <div class = "logo-transport">
      <i class = "fas fa-car"></i>
    </div>
    <div class="interieur">
      <div class="title">Voiture</div>
      <div class="text-description">
      La voiture est le moyen le plus pratique pour se rendre au domaine de manière autonome. Elle vous sera particulièrement utile si vous choisissez de dormir en chambre d’hôtes. Le domaine de Serans est equipé d’un grand parking securisé.
      </div>
    </div>
  </div>
</div>

<div class="un-event une-carte" >

  <div class="description description-logement">
  <div class = "logo-transport">
    <i class = "fas fa-bus-alt"></i>
  </div>
    <div class="interieur">

      <div class="title">Bus</div>
      <div class="text-description">
Pour les personnes sans voiture, nous mettons en place un bus.
        <ul>
          <li> <strong>Aller : </strong>Rendez-vous à 12h45 à Chatelet-les-Halles </li>
          <li><strong>Retour :</strong> (2 horaires) vers minuit le dimanche soir,  après le brunch (autour de 15h) le lundi. </li>
          <li>Il est possible d’effectuer uniquement l’aller ou le retour, a condition de <a href="">nous l’indiquer.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


 <div class="un-event une-carte" >

  <div class="description description-logement">
    <div class = "logo-transport">
      <i class = "fas fa-subway"></i>
    </div>
    <div class="interieur">
      <div class="title">Train</div>
      <div class="text-description">
        La gare la plus proche est Chars (Transilien J, direct de Gare Saint Lazare) situee a 10 min du domaine. Le trajet Paris – Chars dure environ un heure.
        <ul>
          <li><strong>Aller</strong> : depart de Gare Saint Lazare a 13h27 et arrivee a 14h34 a Chars. Nous pouvons venir vous chercher en car.</li>
          <li><strong>Retour</strong> : Certains devront peut etre retourner sur Paris le lundi matin, nous vous avons donc liste les differents horaires ci dessous. Pour tout autre horaires, veuillez consulter le site de la <a href="https://www.sncf.com/fr">SNCF</a>. Nous pouvons egalement vous communiquer des numeros de taxi pour rejoindre la gare au besoin.</li>
        </ul>
        <ul class = "indent">
          <li>Chars 5h21 – Paris Saint Lazare 6h27</li>
          <li>Chars 6h15 – Paris Saint Lazare 7h15</li>
          <li>Chars 6h40 – Paris Saint Lazare 7h35</li>
          <li>Chars 7h15 – Paris Saint Lazare 8h15</li>
          <li>Chars 7h40 – Paris Saint Lazare 8h35</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="un-event une-carte" >

  <div class="description description-logement">
    <div class = "logo-transport">
      <i class="fas fa-taxi"></i>
    </div>
    <div class="interieur">
      <div class="title">Taxi</div>
      <div class="text-description">
        Nous vous conseillons les contacter en avance si vous pensez avoir besoin de leur service entre dimanche 20h et lundi 9h.
        <ul class = "indent">
          <li>Julien Transport : 06.47.03.61.31</li>
          <li>Taxi du Vexin : 06.79.77.90.73</li>
          <li>Taxi Serge Morel : 06.60.17.77.82</li>
          <li>Taxi Anthony Ducelliez : 06.10.85.34.60</li>
          <li>Taxi Eddie Maddalena : 06.85.33.90.73</li>
        </ul>
      </div>
    </div>

  </div>
</div>



</div>

